<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="User" value="benutzername"/>
    <add key="Passwort" value="passwort"/>
    <add key="LoginPage" value="/lückenfüller/j_security_check"/>
    <add key="DownloadTemplate" value="/lückenfüller/servlet/lückenfüller/labels/productionItem-{0}/black-200+0.png"/>
    <add key="URLBase" value="https://istare.lückenfüller.net"/>
    <add key="URLTest" value="/lückenfüller/shop/personal/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
